@import "./_base/variables";
@import "./_base/animation";
@import "./component/butons";
@import "./_base/base";
@import "./_pages/page";
@import "./_pages/game";
@import "./_pages/info";
@import "./_pages/menu";