#game {
    display: flex;
    position: relative;
    overflow: hidden;
    outline: 5px black solid;
    width: 640px;
    height: 640px;
    #transition{
        width: 100%;
        height: 100%;
        display: none;
        background-color: black;
        position: absolute;
        z-index: 500;
        left: -100%;
        transition: all 0.2s;
    }
    #map{
        border-collapse: collapse;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        border-spacing: 0;
        width: 640px;
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .lign{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 64px;
            min-height: 64px;
            max-height: 64px;
            width: calc(64 * 10 )px;
            .cell{
                height: 64px;
                width: 64px;
                min-height: 64px;
                min-width: 64px;
                max-height: 64px;
                max-width: 64px;
                margin: 0;
                padding: 0;
                border: 0;
                img{
                    display: block;
                    object-fit: contain;
                    box-sizing: border-box;
                    border: 0;
                    height: 64px;
                    width: 64px;
                    min-height: 64px;
                    min-width: 64px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    #props, #units{
        position: absolute;
        width: 100%;
        height: 100%;
        div{
            width: 64px;
            min-height: 64px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            transition: all 0.2s;
            img{
                min-height: 64px;
                width: 64px;
                display: block;
                object-fit: contain;
            }
        }


        img{
            min-height: 64px;
            width: 64px;
            display: block;
            object-fit: contain;
            position: absolute;
            
        }

    }
    #ensemble-dialog{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 210px;
        display: none;
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        #dialog{
            display: flex;
            width: 90%;
            height: 5000%;
            margin-bottom: 5%;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.7);
            #dialog-text{
                line-height: 1.7;
                width: 100%;
                height: auto;
                min-height: 132px;
                font-size: 1.6rem;
                display: flex;
                color: white;
            }
            #dialog-choices{
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button{
                    height: 45px;
                    font-weight: bolder;
                    font-size: 1.4rem;
                    width: auto;
                }
            }
        }
    }
}