#game {
    display: flex;
    position: relative;
    overflow: hidden;
    outline: 5px black solid;
    width: 640px;
    height: 640px;
    #transition{
        width: 100%;
        height: 100%;
        display: none;
        background-color: black;
        position: absolute;
        z-index: 500;
        left: -100%;
        transition: all 0.2s;
    }
    #map{
        border-collapse: collapse;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        border-spacing: 0;
        width: 640px;
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .lign{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 64px;
            min-height: 64px;
            max-height: 64px;
            width: calc(64 * 10 )px;
            .cell{
                height: 64px;
                width: 64px;
                min-height: 64px;
                min-width: 64px;
                max-height: 64px;
                max-width: 64px;
                margin: 0;
                padding: 0;
                border: 0;
                img{
                    display: block;
                    object-fit: contain;
                    box-sizing: border-box;
                    border: 0;
                    height: 64px;
                    width: 64px;
                    min-height: 64px;
                    min-width: 64px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    #inventory{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(222, 184, 135);
        z-index: 5;
        display: none;
        div{
            position: absolute;
            border: 3px black solid;
            padding: 5px;
        }
        button{
            height: 70px;
            width: 70px;
            margin: 5px;
            border: 3px black solid;
            background-color: rgba(0, 0, 0, 0.25);
            padding: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        #inventory-stats{
            top: 10px;
            right: 10px;
            height: 260px;
            width: 290px;
            padding: 5px 10px 5px 5px;
            div{
                position: initial;
                border: 0;
                display: flex;
                justify-content: space-between;
            }
        }
        #equipments{
            left: 10px;
            top: 80px;
            width: 310px;
            height: 190px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: space-around;
            button{
                margin: 8px;
            }
        }
        #inventory-content{
            bottom: 10px;
            left: 10px;
            width: 620px;
            height: 340px;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content:space-evenly;
            align-items: center;

        }
        #navigation{
            left: 10px;
            top: 10px;
            width: 310px;
            height: 50px;
        }
    }
    #units{
        position: absolute;
        width: 100%;
        height: 100%;
        div{
            width: 64px;
            min-height: 64px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            transition: all 0.2s;
            img{
                min-height: 64px;
                width: 64px;
                display: block;
                object-fit: contain;
            }
            .etat-bulle{
                width: 32px;
                position: absolute;
                top: -50px; 
                animation-name: etat-Bulle-show;
                animation-duration: 100ms; 
                animation-iteration-count: 1;
            }
        }


        img{
            min-height: 64px;
            width: 64px;
            display: block;
            object-fit: contain;
            position: absolute;
            
        }

    }
    #ensemble-dialog{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 210px;
        display: none;
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        #dialog{
            display: flex;
            width: 90%;
            height: 5000%;
            margin-bottom: 5%;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.7);
            #dialog-text{
                line-height: 1.7;
                width: 100%;
                height: auto;
                min-height: 132px;
                font-size: 1.6rem;
                display: flex;
                color: white;
            }
            #dialog-choices{
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button{
                    height: 45px;
                    font-weight: bolder;
                    font-size: 1.4rem;
                    width: auto;
                }
            }
        }
    }
}