#game {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 5px black solid;
    width: 649px;
    height: 649px;
    min-height: 649px;
    min-width: 649px;
    #map{
        border-collapse: collapse;
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        border-spacing: 0;
        td{
            height: 64px;
            width: 64px;
            min-height: 64px;
            min-width: 64px;
            margin: 0;
            padding: 0;
            img{
                display: block;
                object-fit: contain;
                box-sizing: border-box;
                
            height: 64px;
            width: 64px;
            min-height: 64px;
            min-width: 64px;
                margin: 0;
                padding: 0;
            }
        }
        
    }
    #props, #units{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            height: 64px;
            width: 64px;
            display: block;
            object-fit: contain;
            position: absolute;
            
        }
    }
    #ensemble-dialog{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 160px;
        display: none;
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        #dialog{
            display: flex;
            width: 90%;
            height: 5000%;
            margin-bottom: 5%;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.7);
            #dialog-text{
                line-height: 1.7;
                width: 100%;
                height: auto;
                min-height: 85px;
                font-size: 1rem;
                display: flex;
                color: white;
            }
            #dialog-choices{
                height: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button{
                    height: 25px;
                    font-weight: bolder;
                    width: auto;
                }
            }
        }
    }
}