#info{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 175px;
    padding-left: 15px;
    button{
        width: 80px;
        height: 80px;
    }
    #stats{
        width: 100%;
        min-height: 60px;
        .stat{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 45px;
            max-width: 250px;
            margin: 5px;
            p{
                width: 100%;
                text-align: center;
                font-size: 1.3rem;
            }
            img{
                position: absolute;
                left: 0;
                top: 0;
                height: 30px;
                width: 30px;
                object-fit: contain;
            }
            progress{
                width: 100%;
                height: 15px;
                border-radius: 15px;
            }
            progress::-webkit-progress-bar { 
                border-radius: 15px;
            }
            progress::-webkit-progress-value {  
                border-radius: 15px;
            }
        }
        #stat-PV{
            progress::-webkit-progress-value {  
                border-radius: 15px;
                background-color: #e17055;
            }
        }
        .stat-PM{
            progress::-webkit-progress-value {  
                border-radius: 15px;
                background-color: #5596e1;
            }
        }
    }
    #competences{
        flex: 1;
        width: 100%;
    }
    .control, #actions{
        margin-top: 15px;
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 15px;
        width: 270px;
        
        .haut{
            background-image: url('./public/assets/up.png');
            margin: 0 calc(50% - 80px);
        }
        .bas{
            background-image: url('./public/assets/down.png');
            margin: 0 calc(50% - 80px);
        }
        .gauche{
            background-image: url('./public/assets/left.png');
            margin: 5px 40px 5px 0;
        }
        .droite{
            background-image: url('./public/assets/right.png');
            margin: 5px 0 5px 40px;
        }
        .button{
            background-position: center;
            background-size: cover;
        }
    }
}