#ensemble-gameplay{
    width: 100%;
    display: flex;
}

#loader{
    z-index: -50000;
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-aspect-ratio: 1/1) {
    #ensemble-gameplay {
        flex-direction: column;
        #info{
            flex-wrap: wrap;
            flex-direction: row;
            .actions, .competences{
                width: calc(50% - 150px);
                display: flex;
                height: 75%;
                justify-content: center;
            }
        }
    }
}